<%= render 'shared/evolutive-top-bar' %>

<div class="main-container with-top-margin with-bottom-margin">
  <div class="quests-container centered-vertically">
    <div class="title first">MANDATORY QUESTS</div>
    <% @quests.select{|q| q[:quest].type_of == "mandatory"}.each do |q| %>
      <%= link_to quest_path(q[:quest]), class: "quest-container #{q[:status]}" do %>
        <div class="icon-item centered">
          <!-- <div class="skewed-div"></div> -->
          <!-- <i class="far fa-gem"></i> -->
          <!-- <i class="far fa-star"></i> -->
          <% case q[:status] %>
          <% when "open" %>
            <i class="fas fa-crosshairs" class=""></i>
          <% when "pending" %>
            <i class="far fa-clock"></i>
          <% when "completed" %>
            <i class="fas fa-award"></i>
          <% when "rejected" %>
            <i class="fas fa-skull-crossbones"></i>
          <% when "draft" %>
            <i class="fas fa-edit"></i>
          <% end %>
        </div>
        <div class="side-div-wrapper"><div class="side-div"><div class="rotated-div"></div></div></div>
        <div class="quest-title centered"><%= q[:quest].name.upcase %> </div>
      <% end %>
    <% end %>


    <% if !@quests.select{|q| q[:quest].type_of == "optional"}.empty? %>
      <div class="title">OPTIONAL QUESTS</div>
      <% @quests.select{|q| q[:quest].type_of == "optional"}.each do |q| %>
        <%= link_to quest_path(q[:quest]), class: "quest-container #{q[:status]}" do %>
          <div class="icon-item centered">
            <!-- <div class="skewed-div"></div> -->
            <!-- <i class="far fa-gem"></i> -->
            <!-- <i class="far fa-star"></i> -->
            <% case q[:status] %>
            <% when "open" %>
              <i class="fas fa-crosshairs" class=""></i>
            <% when "pending" %>
              <i class="far fa-clock"></i>
            <% when "completed" %>
              <i class="fas fa-award"></i>
            <% when "rejected" %>
              <i class="fas fa-skull-crossbones"></i>
            <%# when "draft" %>
              <!-- <i class="fas fa-edit"></i> -->
            <% end %>
          </div>
          <div class="side-div-wrapper"><div class="side-div"><div class="rotated-div"></div></div></div>
          <div class="quest-title centered"><%= q[:quest].name.upcase %> </div>
        <% end %>
      <% end %>
    <% end %>

  </div>
</div>

