<%= render 'shared/evolutive-top-bar' %>


<div class="main-container with-top-margin with-bottom-margin">

  <div class="quest-description-container">
      <div class="quest-title centered"><%= @quest.name.upcase %> </div>

      <div class="quest-description">
        <div class="description">
          <p class="secondary-color-title">MISSION :</p>
          <p class="mission" data-status="<%= @quest_status %>"><%= @quest.description %></p>
        </div>

        <% if @roulette_array%>
          <%= render 'shared/roulette' %>
        <% end %>

        <% if @roulette_result %>
          <%= render 'shared/roulette-result' %>
        <% end %>

        <div class="quest-criteria">
          <p class="secondary-color-title">CRITÈRES DE VALIDATION :</p>
          <% @criteria.each do |c| %>
            <div class="criterium"><%= c %> </div>
          <% end %>
        </div>
      </div>
  </div>


  <div class="quest-progression-container">
    <div class="title centered">TEAM PROGRESSION</div>
    <div class="quest-progression">
        <div class="quest-status"><div class="quest-status-circle <%= @quest_status %>"></div><p><%=  @quest_status.upcase %></p></div>
        <p class="secondary-color-title">WHAT'S NEXT ?</p>

        <% case @quest_status %>
        <% when "open", "draft" %>

          <p>Upload the required documents to submit your quest validation.</p>
          <p class="secondary-color-title">UPLOAD DOCUMENTS :</p>

          <%= render 'shared/upload-quest-documents' %>

        <% when "pending" %>
          <p>Your quest is pending validation from the other teams and will be validated or not depending on their votes.</p>
          <p>If 25 players vote positively or negatively for your quest, your quest will be completed or rejected.</p>
          <p>If less than 25 players express their opinion, your quest will be completed or rejected 24h after submission with the given status of the votes.</p>
          <p>In case of tie or zero votes, your quest will be completed.</p>
          <p>Check out the validation timeline to check out were your quest validation stands.</p>
          <p class="secondary-color-title">VALIDATION TIMELINE :</p>
          <%#= render 'shared/validation-timeline' %>
          <p>Votes cap : <%= @votes_result[:total] %> / 25</p>
          <p>Max remaining time : ~ <%= (((@team_quest_link.updated_at + 24.hours).to_time - DateTime.now.to_time) / 1.hours).to_i %> hours</p>
          <!-- .strftime('%I:%M%p') -->

          <p class="secondary-color-title">ONGOING VOTES :</p>
          <%= render 'shared/votes-result' %>

        <% when "completed" %>
          <p>Nothing to do... your team has already completed this quest!</p>
          <p>Check out your team gallery!</p>

          <p class="secondary-color-title">VOTES RESULT :</p>
          <%= render 'shared/votes-result' %>

        <% when "rejected" %>
          <p>Your quest validation request has been rejected by the players.</p>
          <p>Check out the vote results to understand what went wrong and try again!</p>
          <p class="secondary-color-title">VOTES RESULT :</p>
          <%= render 'shared/votes-result' %>
          <p class="secondary-color-title">UPLOAD DOCUMENTS :</p>
          <%= render 'shared/upload-quest-documents' %>

        <% end %>

    </div>

    <% case @quest_status %>
      <% when "draft" %>
      <%= link_to "SUBMIT QUEST", team_quest_link_path(@team_quest_link), method: 'put', class: "main-button", id: "submit-quest" %>
      <% when "completed" %>
      <%= link_to "GALLERY", team_quest_links_path(perimeter: "team"), class: "main-button" %>
    <% end %>

  </div>



</div>

<%#= render 'shared/tql-modal' %>



<!-- CODE PRECEDENT --------------------------------------------------------------------------------------------->


<!--     <%# if !@team_quest_link.blank? && !@team_quest_link.media.blank? %>
      <div class="d-flex">
        <%# @team_quest_link.media.each do |medium| %>

          <%# if medium.type_of == "video/mp4" %>
            <div>
              <%#= cl_video_tag(medium.attached_file.key, controls: true, fetch_format: :auto, width: '100%', height: '100%') %>
            </div>
          <%# else %>
          <div>
            <%#= cl_image_tag medium.attached_file.key, height: 150, width: 200, crop: :fill%>
          </div>
          <%# end %>
        <%# end %>
      </div>
    <%# end %> -->



<!-- TODO : Faire fonctionner la modale -->

 <!--    <%# if @team_quest_link.nil? %>
      <div class="main-button with-top-margin" id="tql-upload-btn">UPLOADER DES DOCUMENTS</div>
    <%# end %>
    <%# if !@team_quest_link.nil? && @team_quest_link.status == 'draft' %>
      <div class="main-button with-top-margin"  id="tql-upload-btn">UPLOADER DES DOCUMENTS</div>
    <%# end %>
    <%# if !@team_quest_link.nil? && @team_quest_link.status == 'draft' && !@team_quest_link.media.nil? %>
      <div class="main-button"><%#= link_to "SUBMIT QUEST", team_quest_link_path(@team_quest_link), method: 'put' %></div>
    <%# end %>
 -->
