<%= render 'shared/evolutive-top-bar' %>


<div class="main-container with-top-margin with-bottom-margin">

  <div class="quest-description-container">
    <!-- <div class="target-wrapper"> -->
    <!--   <div class="tw-big top"><div class="tw-small top left"></div><div class="tw-small top right"></div></div>
      <div class="tw-big bottom"><div class="tw-small bottom left"></div><div class="tw-small bottom right"></div></div> -->
      <div class="quest-title centered"><%= @quest.name.upcase %> </div>
      <div class="quest-description">
        <div class="description">
          <p class="secondary-color-title">MISSION :</p>
          <p class="mission" data-status="<%= @quest_status %>"><%= @quest.description %></p>
        </div>
        <div class="quest-criteria">
          <p class="secondary-color-title">CRITÈRES DE VALIDATION :</p>
          <% @criteria.each do |c| %>
            <div class="criterium"><%= c %> </div>
          <% end %>
        </div>
      </div>

    <!-- </div> -->

    <% if !@team_quest_link.blank? && !@team_quest_link.media.blank? %>
      <div class="d-flex">
        <% @team_quest_link.media.each do |medium| %>
          <div>
            <%= cl_image_tag medium.attached_file.key, height: 150, width: 200, crop: :fill%>
          </div>
        <% end %>
      </div>
    <% end %>

<!-- TODO : Faire fonctionner la modale -->

    <% if @team_quest_link.nil? %>
      <div class="main-button with-top-margin" id="tql-upload-btn">UPLOADER DES DOCUMENTS</div>
    <% end %>
    <% if !@team_quest_link.nil? && @team_quest_link.status == 'draft' %>
      <div class="main-button with-top-margin"  id="tql-upload-btn">UPLOADER DES DOCUMENTS</div>
    <% end %>
    <% if !@team_quest_link.nil? && @team_quest_link.status == 'draft' && !@team_quest_link.media.nil? %>
      <div class="main-button"><%= link_to "SUBMIT QUEST", team_quest_link_path(@team_quest_link), method: 'put' %></div>
    <% end %>
  </div>
</div>

<%= render 'shared/tql-modal' %>
