<%= render 'shared/evolutive-top-bar' %>

<%#= render 'shared/top-bar' %>
<%#= render 'shared/bottom-bar' %>

<!-- <div class="container-below-top-bar">
  <%#= link_to :back, class: "rounded-div centered" do %>
    <i class="fas fa-chevron-left"></i>
  <%# end %>

  <div class="level-details centered-vertically">
    <p class="level-number"><%= @level.id %> </p>
    <p class="title"><%#= @level.name.upcase %> </p>
  </div>

  <div class="rounded-div transparent"></div>
</div> -->


<div class="main-container with-top-margin with-bottom-margin centered-vertically">

  <div class="quest-description-container">
    <div class="target-wrapper">
      <div class="tw-big top"><div class="tw-small top left"></div><div class="tw-small top right"></div></div>
      <div class="tw-big bottom"><div class="tw-small bottom left"></div><div class="tw-small bottom right"></div></div>
      <div class="quest-title centered"><%= @quest.name.upcase %> </div>
      <div class="quest-description"><%= @quest.description %> </div>
      <ul class="quest-criteria">
        <% @criteria.each do |c| %>
          <li><%= c %> </li>
        <% end %>
      </ul>


    </div>

    <!-- TODO : Faire en sorte que l'on cree un team_quest_link dès qu'on ajoute un premier media -->

    <% if @team_quest_link.nil? || @team_quest_link.status == 'draft' %>
      <div class="main-button"><%= link_to "UPLOADER DES DOCUMENTS", root_path %></div>
    <% end %>
    <% if !@team_quest_link.nil? && @team_quest_link.status == 'draft' && @team_quest_link.media %>
      <div class="main-button"><%= link_to "SUBMIT QUEST", team_quest_link_path(@team_quest_link), method: 'put' %></div>
      <div class="main-button with-top-margin">UPLOADER DES DOCUMENTS</div>
    <% end %>
  </div>

</div>
