<%= render 'shared/evolutive-top-bar' %>
<div class="main-container centered-vertically with-top-margin with-bottom-margin">

  <% @teams.each do |team| %>

    <%= link_to team_path(team[:id]), class: "team-score-container" do %>
      <div class="side-div-wrapper"><div class="side-div"><div class="rotated-div"></div></div></div>
      <div class="team-rank"><%= team[:rank] %></div>
      <div class="team-name-and-level">
        <div class="team-name"><%= team[:name] %></div>
        <div class="team-level">LVL. <%= team[:level] %></div>
      </div>
      <div class="team-points"><%= team[:points] %> pts</div>
    <% end %>
  <% end %>


</div>



