<%= render 'shared/evolutive-top-bar' %>

<div class="main-container centered-vertically with-top-margin with-bottom-margin">

  <div id="user-container">
    <div id="user-picture" style="background-image: url(<%= @user.photo.blank? ? asset_path('user_image.png') : cl_image_path(@user.photo.key)  %>);"></div>
    <div id="user-info">
      <p><span>Surname : </span> <%= @user.first_name.capitalize %></p>
      <p><span>Name : </span> <%= @user.last_name.capitalize %></p>
      <p><span>Email : </span> <%= @user.email %></p>
      <p><span>About me : </span> <%= @user.description %></p>
      <%= link_to team_path( @user.team) do %>
        <p><span>Team : </span><%= @user.team.name.capitalize %></p>
      <% end %>

      <div id="user-roles">
        <% if !@user.roles[0].nil? %>
          <p><span> Role : </span></p>
          <% @user.roles.each do |role| %>
            <div class="role-container">
              <p> <span> <%= role.name.capitalize %> : </span> <%= role.description %></p>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

  <% if @user == current_user %>
    <%= link_to "EDIT MY PROFILE", edit_user_path(current_user), class: "main-button" %>
  <% end %>

</div>


