<div id="message-<%= message.id %>" class="message-container <%= 'c-user' if message.user == current_user %>">

  <div class="message-user-picture" style="background-image: url('<%= cloudinary_url(message.user.photo.key) %>')"></div>

  <% if !message.poll.nil? %>
      <div class="message">
        <p class="message-user-name"><%= "#{message.user == current_user ? 'Me' : message.user.get_full_name}" %></p>
        <%= link_to new_poll_poll_user_link_path(message.poll), class: "poll-link" do %>
          <i class="fas fa-poll-h"></i>
          <p><%= message.poll.name %></p>
          <p>- <%= message.poll.poll_user_links.count %> votes -</p>
        <% end %>
      </div>
  <% else %>
    <% unless message.value.nil? %>

      <div class="message">
        <p class="message-user-name"><%= "#{message.user == current_user ? 'Me' : message.user.get_full_name}" %></p>
        <p><%= message.value %></p>
      </div>
    <% end %>
  <% end %>

  <% if !message.media.blank? %>
    <div class="message with-medium">
      <p class="message-user-name"><%= "#{message.user == current_user ? 'Me' : message.user.get_full_name}" %></p>

      <% if message.media.last.attached_file.content_type.include? "video"%>

        <img src="<%=message.media.last.get_video_thumbnail %>">
        <i class="fas fa-play video-ico"></i>
      <% else %>
        <%= cl_image_tag message.media.last.attached_file.key%>
      <% end %>

    </div>
  <% end %>

  <!-- <div class="message-date"><%#= message.created_at.strftime('%A %d %B %Y, at %I:%M%p') %></div> -->
  <div class="message-date"><%= message.created_at.strftime('%I:%M%p') %></div>

</div>
