<div id="tchat-modal">
  <div id="tchat-modal-content">
    <%= simple_form_for @medium, :url => media_path, :method => :post, remote: true do |f| %>
      <%= f.hidden_field :perimeter, value: @initial_perimeter %>
      <%= f.input :attached_file, as: :file, label: false, input_html: {class: "main-button"}%>
      <%= button_tag "CONFIRM", type: 'submit', id: "btn-send-media", class: 'main-button' %>
    <% end %>

    <%= link_to "Create Poll", new_poll_path, class: "main-button", id: "create-poll" %>
  </div>
  <div id="tchat-modal-close">CANCEL</div>
</div>
