<div class="tchat-action-bar">



  <!-- <%#= simple_form_for @media, :url => media_path, :method => :post, remote: true do |f| %>

    <div class="media-btn-wrapper">
      <%#= f.input :media, as: :file, label: false%>
      <div class="icon-wrapper">
        <i class="fas fa-paperclip"></i>
      </div>

    </div>
    <%#= button_tag type: 'submit', class: "btn-send-message" %>

  <%# end %> -->

  <div id="tchat-action-bar-btn-plus"><i class="fas fa-plus"></i></div>

  <%= simple_form_for @message, remote: true do |f| %>
    <%= f.hidden_field :message_ref, id: "message-ref" %>
    <%= f.hidden_field :perimeter, value: @initial_perimeter %>
    <%= f.input :message_ref, as: :hidden %>
      <%= f.input :value, label: false, placeholder: "Type something..." %>

      <%= button_tag type: 'submit', id: "tchat-action-bar-btn-send" do %>
        <i class="far fa-paper-plane"></i>
      <% end %>
    </div>
  <% end %>


</div>

<%= render 'shared/tchat-modal' %>
