<div id="tchat-modal">
  <div id="tchat-modal-content">

    <%= form_with(model: @medium, html: { data: { controller: "upload-progress" } }) do |f| %>
      <%= f.hidden_field :perimeter, value: @initial_perimeter %>
      <%= f.file_field :attached_file, label: false, direct_upload: true%>
      <div id="upload-file-proxy" class="main-button">UPLOAD FILE</div>
      <div id="upload-spinner" class="spinner-border text-success" role="status" style="display: none;"></div>

      <div id="progress-bar-container" style="display: none;" data-upload-progress-target="progress">
        <div id="progress-bar-text">Uploading your document to our servers: <span id="progressText" data-upload-progress-target="progressText">Warming up...</span></div>
        <div id="progress-bar">
          <div id="progressWidth" data-upload-progress-target="progressWidth">
        </div>
        </div>
      </div>

      <%= button_tag "CONFIRM", type: 'submit', id: "btn-send-media", data: { action: "click->upload-progress#showProgress" } %>
    <% end %>

    <%= link_to "CREATE POLL", new_poll_path, class: "main-button", id: "create-poll" %>
  </div>
  <div id="tchat-modal-close">CANCEL</div>
</div>

