<%= render 'shared/navbar' %>

<!-- <div id="particles-container" style="height: 100vh; width: 100vw;"></div> -->

<div id="banner">
  <h1 id="slogan"><%= t '.slogan1' %><span class="secondary-color"><%= t '.slogan2' %></span><br><%= t '.slogan3' %><br><span class="primary-color"><%= t '.slogan4' %></span></h1>
  <%= link_to (t '.play'), new_contact_path,class: "call-to-action"  %>
</div>

<div id="landing-checkboxes" >
  <h2><%= t '.you' %></h2>
  <div class="landing-page-card-white-check">
    <div class="check-container">
      <i class="fas fa-check"></i>
    </div>
    <p>Vous êtes une entreprise de plus de 100 employés.</p>
  </div>
  <div class="landing-page-card-white-check">
    <div class="check-container">
      <i class="fas fa-check"></i>
    </div>
    <p>Vous cherchez à améliorer la <span class="highlighted primary">MOTIVATION</span>, la <span class="highlighted secondary">COHÉSION</span>, la <span class="highlighted primary">COLLABORATION</span> et le <span class="highlighted secondary">BIEN-ÊTRE</span> de vos équipes.</p>
  </div>
  <div class="landing-page-card-white-check">
    <div class="check-container">
      <i class="fas fa-check"></i>
    </div>
    <p>Vous êtes convaincus que votre succès dépend de votre capacité à agir sur ces éléments ainsi que d’ <span class="highlighted secondary">ATTIRER ET RETENIR DES « TALENTS »</span>.</p>
  </div>
  <div class="landing-page-card-white-check">
    <div class="check-container">
      <i class="fas fa-check"></i>
    </div>
    <p>La taille de votre entreprise ou votre forte croissance rendent ces tâches difficiles.</p>
  </div>
  <div class="landing-page-card-white-check">
    <div class="check-container">
      <i class="fas fa-check"></i>
    </div>
    <p>Vous aimeriez trouver des solutions sans agir systématiquement sur les dimensions « salaires » ou « promotions ».</p>
  </div>
  <div class="landing-page-card-white-check">
    <div class="check-container">
      <i class="fas fa-check"></i>
    </div>
    <p>Vous avez peut-être déjà entrepris des actions pour améliorer l' environnement de travail, investi dans des événements de type « Team Building » et cherché à développer une culture et une identité d' entreprise.</p>
  </div>
  <div class="landing-page-card-white-check">
    <div class="check-container">
      <i class="fas fa-check"></i>
    </div>
    <p>Vous avez du mal à estimer le retour sur investissement durable et concret de ces actions et vous vous sentez peut-être un peu dépassés.</p>
  </div>


  <p class="special-text">Nous avons créé une solution spécifiquement pour les entreprises comme vous.</p>

  <%= link_to (t '.play'), new_contact_path,class: "call-to-action"  %>

</div>


<!-- <section class="colored"> -->



  <!--

  <div class="section-text">
    <p>Vous êtes une entreprise de plus de 100 employés qui cherche à améliorer la <span class="highlighted primary big">MOTIVATION</span>, la <span class="highlighted secondary big">COHÉSION</span>, la <span class="highlighted primary big">COLLABORATION</span> et le <span class="highlighted secondary big">BIEN-ÊTRE</span> de vos équipes.</p>
    <p>Vous êtes convaincus que votre succès dépend de votre capacité à agir sur ces éléments ainsi que d’ <span class="highlighted primary big">attirer et retenir des « talents »</span>.</p>
    <p>La taille de votre entreprise ou votre forte croissance rendent ces tâches difficiles et vous aimeriez trouver des solutions sans agir systématiquement sur les dimensions « salaires » ou « promotions ».</p>
    <p>Vous avez peut-être déjà :</p>
    <ul>
      <li>Entrepris des actions pour améliorer l' environnement de travail</li>
      <li>Investi dans des événements de type « Team Building »</li>
      <li>Cherché à développer une culture et une identité d' entreprise</li>
    </ul>
    <p>Vous avez du mal à estimer le retour sur investissement durable et concret de ces actions et vous vous sentez peut-être un peu dépassés.</p>
    <p class="special-text">Nous avons créé une solution spécifiquement pour les entreprises comme vous.</p>
  </div>
   <div id="particles-container" style="height: 100vh; width: 100vw;"></div>

  <%#= link_to "PLAY", contact_path,class: "call-to-action"  %> -->


<!-- </section> -->

</section>


<section >
  <h2><%= t '.us' %></h2>

  <div class="section-text frame">

    <!-- <div class="flex-container">
      <div class="part-1">
        <i class="far fa-lightbulb"></i>
      </div>
      <div class="part-2"> -->
        <p>Entre 2004 et 2011 le Wall Street journal estime que les joueurs de World of Warcraft ont collectivement passé près de <span class="highlighted secondary big">6 millions d’années</span> à résoudre les problèmes du monde fictif d’Azeroth!</p>
        <p>Qu’est ce qui motive ces joueurs à dépenser cette énergie dans ce jeu? Est-il possible de rediriger cette énergie pour résoudre des problématiques du monde réel?</p>
        <p>La « <span class="highlighted primary big">gamification</span> » ou « ludification », est l’utilisation, l’adaptation des mécanismes du jeu pour des actions ou applications qui ne sont pas à l'origine des jeux.</p>
      <!-- </div>
    </div> -->

    <p class="special-text">La mission des FeelGoodFellows est de devenir maîtres dans l’art de la gamification, pour résoudre des problématiques sérieuses… en s’amusant!</p>
  </div>
  <%= link_to (t '.play'), new_contact_path,class: "call-to-action"  %>
</section>


<section class="colored">
  <h2><%= t '.game' %></h2>


  <!-- <div class="section-text"> -->
    <p class="special-text">Nous proposons un programme “Plug & Play” de 3 mois sous forme de jeu pour améliorer la motivation, la cohésion et la collaboration de vos équipes.</p>
  <!-- </div> -->
  <div class="key-elements">
    <div class="key-element">
      <h5>UN PROGRAMME</h5>
      <ul>
        <li>Pas un teambuilding lambda : un programme de 3 mois</li>
        <li>Une vision à long-terme post-programme</li>
        <li>Un véritable avant/après visible et mesurable</li>
        <li>Des résultats réellements durables</li>
      </ul>
    </div>
    <div class="key-element">
      <h5>PLUG & PLAY</h5>
      <ul>
        <li>Nous vous guidons de A à Z.</li>
        <li>Nous avons une méthode, fournissons support & reporting</li>
        <li>Nous vous donnons accès à notre base de donnée avec des centaines d’actions concrètes à implémenter</li>
        <li>Une plateforme accessible via ordinateurs et téléphones</li>
      </ul>
    </div>
    <div class="key-element">
      <h5>UN JEU</h5>
      <ul>
        <li>Les équipes vont réellement prendre du plaisir pendant les 3 mois</li>
        <li>Les mécanismes de la “gamification” permettront d’ atteindre des résultats a priori hors de portée</li>
        <li>Win - Win : Vous allez devenir plus performants en vous amusant</li>
      </ul>
    </div>
  </div>
  <%= link_to (t '.play'), new_contact_path,class: "call-to-action"  %>
</section>

<section >
  <h2><%= t '.more' %></h2>

  <div class="section-text frame">
    <p>Nous proposons de vous donner les outils et de vous guider pas à pas dans une <span class="highlighted primary">expérience unique</span> pendant laquelle vos équipes s' amuseront à améliorer elles-mêmes leur environnement de travail. </p>
    <p>Sous forme de <span class="highlighted secondary big">jeu collaboratif</span>, notre solution adaptable à grande échelle (oui, même pour des entreprises de plusieurs <span class="highlighted primary">milliers d’employés!</span>) et <span class="highlighted secondary">customisable</span> à vos enjeux spécifiques, vous permettra de prendre le contrôle sur le bien-être de vos équipes!</p>
    <p>Au delà du simple plaisir de jouer, le jeu servira à :</p>
    <ul>
      <li>Implémenter des <span class="highlighted primary big">centaines d’ actions concrètes</span> pendant la durée du jeu</li>
      <li>Éveiller les équipes à se responsabiliser pour agir elles-mêmes sur leur environnement de travail</li>
      <li>Leur donner des outils et idées pour agir sur leur environnement de travail</li>
      <li>Donner à chacun un <span class="highlighted secondary">sentiment d’ appartenance</span> à un groupe</li>
      <li>Donner à chacun la possibilité d’ exprimer leur personnalité dans ce groupe</li>
      <li>Valoriser la cohésion, la collaboration et le partage</li>
      <li>Développer une culture d' entreprise unique tout en renforçant votre identité de marque</li>
      <li><span class="highlighted primary">Booster</span> le moral des équipes </li>
      <li>Vous donner une visibilité précise du bien-être de vos équipes</li>
      <li>Vous donner des leviers pour agir sur le bien-être de vos équipes</li>
      <li>Construire des <span class="highlighted secondary">ponts de communication</span> efficaces entre le management et les équipes opérationnelles</li>
    </ul>
    <p>Pendant et à la fin du jeu, nous vous fournirons des données concrètes sur l’impact du programme.</p>
    <p>À la fin du jeu, nous vous proposerons des solutions simples pour capitaliser sur l’ expérience vécue et en tirer un maximum de bénéfices sur le long-terme.</p>
  </div>
  <%= link_to (t '.play'), new_contact_path,class: "call-to-action"  %>
</section>
