<%= render 'shared/navbar' %>

<!-- <div id="particles-container" style="height: 100vh; width: 100vw;"></div> -->

<div id="banner">
  <h1 id="slogan"><%= t '.slogan1' %><span class="secondary-color"><%= t '.slogan2' %></span><br><%= t '.slogan3' %><br><span class="primary-color"><%= t '.slogan4' %></span></h1>
  <%= link_to (t '.play'), new_contact_path,class: "call-to-action"  %>
</div>

<div id="landing-checkboxes" >
  <h2><%= t '.you' %></h2>
  <div class="landing-page-card-white-check">
    <div class="check-container">
      <i class="fas fa-check"></i>
    </div>
    <p><%= t '.you-1' %></p>
  </div>
  <div class="landing-page-card-white-check">
    <div class="check-container">
      <i class="fas fa-check"></i>
    </div>
    <p><%= raw(t '.you-2') %></p>
  </div>
  <div class="landing-page-card-white-check">
    <div class="check-container">
      <i class="fas fa-check"></i>
    </div>
    <p><%= raw(t ".you-3") %></p>
  </div>
  <div class="landing-page-card-white-check">
    <div class="check-container">
      <i class="fas fa-check"></i>
    </div>
    <p><%= raw(t ".you-4") %></p>
  </div>
  <div class="landing-page-card-white-check">
    <div class="check-container">
      <i class="fas fa-check"></i>
    </div>
    <p><%= raw(t ".you-5") %></p>
  </div>
  <div class="landing-page-card-white-check">
    <div class="check-container">
      <i class="fas fa-check"></i>
    </div>
    <p><%= raw(t ".you-6") %></p>
  </div>
  <div class="landing-page-card-white-check">
    <div class="check-container">
      <i class="fas fa-check"></i>
    </div>
    <p><%= raw(t ".you-7") %></p>
  </div>


  <p class="special-text"><%= raw(t ".you-8") %></p>

  <%= link_to (t '.play'), new_contact_path,class: "call-to-action"  %>

</div>

</section>


<section >
  <h2><%= t '.us' %></h2>

  <div class="section-text frame">

    <p><%= raw(t ".us-1") %></p>
    <p><%= raw(t ".us-2") %></p>
    <p><%= raw(t ".us-3") %></p>
    <p class="special-text"><%= raw(t ".us-4") %></p>
  </div>
  <%= link_to (t '.play'), new_contact_path,class: "call-to-action"  %>
</section>


<section class="colored">
  <h2><%= t '.game' %></h2>


  <!-- <div class="section-text"> -->
    <p class="special-text"><%= raw(t '.game-1') %></p>
  <!-- </div> -->
  <div class="key-elements">
    <div class="key-element">
      <h5><%= t '.game-2' %></h5>
      <ul>
        <li><%= t '.game-3' %></li>
        <li><%= t '.game-4' %></li>
        <li><%= t '.game-5' %></li>
        <li><%= t '.game-6' %></li>
      </ul>
    </div>
    <div class="key-element">
      <h5><%= t '.game-7' %></h5>
      <ul>
        <li><%= t '.game-8' %></li>
        <li><%= t '.game-9' %></li>
        <li><%= t '.game-10' %></li>
        <li><%= t '.game-11' %></li>
      </ul>
    </div>
    <div class="key-element">
      <h5><%= t '.game-12' %></h5>
      <ul>
        <li><%= t '.game-13' %></li>
        <li><%= t '.game-14' %></li>
        <li><%= t '.game-15' %></li>
      </ul>
    </div>
  </div>
  <%= link_to (t '.play'), new_contact_path,class: "call-to-action"  %>
</section>

<section >
  <h2><%= t '.more' %></h2>

  <div class="section-text frame">
    <p><%= raw(t '.more-1') %></p>
    <p><%= raw(t '.more-2') %></p>
    <p><%= raw(t '.more-3') %></p>
    <ul>
      <li><%= raw(t '.more-4') %></li>
      <li><%= raw(t '.more-5') %></li>
      <li><%= raw(t '.more-6') %></li>
      <li><%= raw(t '.more-7') %></li>
      <li><%= raw(t '.more-8') %></li>
      <li><%= raw(t '.more-9') %></li>
      <li><%= raw(t '.more-10') %></li>
      <li><%= raw(t '.more-11') %></li>
      <li><%= raw(t '.more-12') %></li>
      <li><%= raw(t '.more-13') %></li>
      <li><%= raw(t '.more-14') %></li>
    </ul>
    <p><%= raw(t '.more-15') %></p>
    <p><%= raw(t '.more-16') %></p>
  </div>
  <%= link_to (t '.play'), new_contact_path,class: "call-to-action"  %>
</section>
