<p>Salut,</p>

<p>Vous avez reçu un nouveau message pour le projet Siena !!!</p>

<p><strong>Nom du contact: </strong><%= @contact.first_name %> <%= @contact.last_name %></p>
<p><strong>Adresse mail: </strong><%= @contact.email %></p>
<p><strong>Société: </strong><%= @contact.company %></p>
<p><strong>Message: </strong><%= @contact.message %></p>

<p>Have a great day 'Les Biatchs'</p>
