<p>Bonjour,</p>

<p>Vous avez envoyé un message à l'équipe de FeelGoodFellows.com, nous vous en remerçions.</p>

<p>Le contenu de votre message était :</p>
<p><strong>Nom du contact: </strong><%= @contact.first_name %> <%= @contact.last_name %></p>
<p><strong>Adresse mail: </strong><%= @contact.email %></p>
<p><strong>Société: </strong><%= @contact.company %></p>
<p><strong>Message: </strong><%= @contact.message %></p>

<p>Nous ne manquerons pas de revenir vers vous afin de répondre à votre demande.</p>

<p>Très bonne journée et à bientôt.</p>
