<%= render 'shared/top-bar' %>

  <div id="levels-container" class="centered-vertically">
    <!-- <div id="divider-left"></div> -->
    <!-- <div id="divider-right"></div> -->
    <% @levels.each do |l| %>

      <% if l.id > @user_team_level.id %>

        <div class="level-container locked">
            <div class="upper-part centered">
              <div class="mandatory-indication centered-vertically"><p class="percent">100%</p><p>MANDATORY</p></div>
              <div class="level-index centered">
                <p><%= l.id %></p>
                <i class="fas fa-lock"></i>
              </div>
              <div class="optional-indication centered-vertically"><p class="percent">60%</p><p>OPTIONAL</p></div>
            </div>
            <div class="level-name-part centered"><%= l.name.upcase %></div>
        </div>
      <% else %>

        <%= link_to level_path(l), class: "level-container" do %>
            <div class="upper-part centered">
              <div class="mandatory-indication centered-vertically"><p class="percent">100%</p><p>MANDATORY</p></div>
              <div class="level-index centered">
                <p><%= l.id %></p>
                <i class="fas fa-lock"></i>
              </div>
              <div class="optional-indication centered-vertically"><p class="percent">60%</p><p>OPTIONAL</p></div>
            </div>
            <div class="level-name-part centered"><%= l.name.upcase %></div>
        <% end %>

      <% end %>

    <% end %>

  </div>

<%= render 'shared/bottom-bar' %>

