<%= render 'shared/evolutive-top-bar' %>

<%#= render 'shared/top-bar' %>
<%#= render 'shared/bottom-bar' %>

<div class="main-container with-top-margin with-bottom-margin centered-vertically draggables">


  <% if @tql_to_vote.blank? %>

    <div id="no-more-tql" class="centered-vertically">
      <p>There is no quests to vote for at the moment.</p>
      <p>Check out the GALLERY!</p>
      <%= link_to "GALLERY", team_quest_links_path, class: "main-button" %>
    </div>
  <% else %>

    <div data-id="<%= @tql_to_vote.id %>" class="tql-to-vote draggable">
      <div class="tql-validation-text"></div>


      <div id="tql-carousel" class="carousel slide" data-ride="carousel" data-interval="false">

        <% if @tql_to_vote.media.length > 1 %>
          <ol data-target='#tql-carousel' class="carousel-indicators">

            <% @tql_to_vote.media.each_with_index do |medium, index| %>
              <li data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
            <% end %>

          </ol>

          <a class="carousel-control-prev carousel-control" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next carousel-control" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        <% end %>

        <div class="carousel-inner">

          <% @tql_to_vote.media.each_with_index do |medium, index| %>

          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="tql-medium" style="background-image: url('<%= cl_image_path medium.attached_file.key %>')"></div>
          </div>


          <% end %>

        </div>




      </div>





      <div class="tql-description">
        <h2><%= @tql_to_vote.quest.name %></h2>
        <h3>Submitted by : </h3><%= @tql_to_vote.team.name %>
        <h3>Quest level : </h3><%= @tql_to_vote.level.name %>
        <h3>Tags :</h3>
        <% @tql_to_vote.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
        <h3>CRITÈRES DE VALIDATION :</h3>
        <ul>
          <% JSON.parse(@tql_to_vote.quest.criteria).each do |c| %>
            <li><%= c %> </li>
          <% end %>
        </ul>

      </div>
      <div class="tql-buttons">
        <%= link_to "Vote NO", votes_path(vote: false, tql: @tql_to_vote), method: :post, class: "vote-no" %>
        <%= link_to "Vote YES", votes_path(vote: true, tql: @tql_to_vote), method: :post, class: "vote-yes" %>
      </div>

    </div>
    <!-- <h3><%#= @tql_to_vote.quest.name %></h3> -->

  <% end %>

</div>


