<%= render 'shared/evolutive-top-bar' %>

<%#= render 'shared/top-bar' %>
<%#= render 'shared/bottom-bar' %>

<div class="main-container with-top-margin with-bottom-margin centered-vertically draggables">


  <% if @tql_to_vote.blank? %>

    <div id="no-more-tql" class="centered-vertically">
      <p>There is no quests to vote for at the moment.</p>
      <p>Check out the GALLERY!</p>
      <%= link_to "GALLERY", team_quest_links_path, class: "main-button" %>
    </div>
  <% else %>

    <div data-id="<%= @tql_to_vote.id %>" class="tql-to-vote draggable">
      <div class="tql-validation-text"></div>
      <div class="tql-carousel"></div>
      <div class="tql-description">
        <p>CRITÈRES DE VALIDATION :</p>
        <ul>
          <% JSON.parse(@tql_to_vote.quest.criteria).each do |c| %>
            <li><%= c %> </li>
          <% end %>
        </ul>

      </div>
      <div class="tql-buttons">
        <%= link_to "Vote NO", votes_path(vote: false, tql: @tql_to_vote), method: :post, class: "vote-no" %>
        <%= link_to "Vote YES", votes_path(vote: true, tql: @tql_to_vote), method: :post, class: "vote-yes" %>
      </div>

    </div>
    <!-- <h3><%#= @tql_to_vote.quest.name %></h3> -->

  <% end %>

</div>


